<h1>Editing Lpa Question</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @lpa_question, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', lpa_questions_path, class: "btn btn-default" %>

